/* reset css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*


vi tri
kich thuoc(with,heigh)
mau sac
kieu dang(kieu chu,hinh dang,...) 
 

*/

/* common css */
html{
    font-size: 16px;
    scroll-behavior: smooth;
}
.clear {
    clear: both;
}
.text-white{
    color: #ffffff !important;
}
.row{
    margin-left: -8px;
    margin-right: -8px;

}
.row::after{
    content: "";
    display: table;
    clear: both;
}
.col{
    float: left;
    padding-left: 8px  ;
    padding-right: 8px  ;


}
.col-third{
    width: 33.3333%;
}
.col-half{
    width: 50%;
}
.text-center{
    text-align: center !important;
}
.col-full{
    width: 100%;
}
.place-list{
    margin-top: 32px;
    margin-bottom: 48px;

}
.mt-8{
    margin-top: 8px !important;
}
.mt-16{
    margin-top: 16px !important;
}
.pull-right{
    float: right;
}
.btn{
    color: #ffffff;
    background-color: #000000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    cursor: pointer;
    

}
.btn:hover{
  background-color: #ff0000;

}
/* main css */
#main {
    font-family: Arial, Helvetica, sans-serif;
    min-height:  2000px;

}


#header {
    height: 46px;
    background-color: black;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;

}
#nav{
display: inline-block;
}
#nav li{
    display: inline-block;
    position: relative;

}
#nav li a{
    color: white;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: inline-block;


}
#nav li:hover a{
    background-color: rgb(0, 0, 0);
    color: #ffffff;

}
#nav li:hover .subnav{
    display: block;
}
#nav > li:hover > a{
 background-color: rgb(255, 240, 233);
    color: #000000;
}

#nav .subnav{
    display: none;
    position: absolute;
    top: 100%;
    min-width: 160px;
    box-shadow: #333;

}
#nav .subnav li{

    width: 100%;
    box-sizing: border-box;
}

#nav .subnav li a{
    display: block;
    width: 100%;
    box-sizing: border-box;
}
#nav .subnav li :hover {
    background-color: #ffffff;
    color: #000000;

}
#nav .subnav a{
    color: #fffefe;

}

#header .search-btn{
 float: right;
}
#header .search-btn:hover{
cursor: pointer;
background-color: #ec6b6b8a;
}
#header .search-icon{
    font-size: 20px;
    color: #fffefe;
    line-height: 46px;
    padding: 0 21px;
}

#slider {
    margin-top: 46px;
    min-height: 500px;
    background-color: #333;
    padding-top: 50%;
    background:url('/theband/asset/img/slider/slider1.webp')top center /cover no-repeat;
    position: relative;


}

#slider .text-content{
    color: #ffffff;
    position: absolute;
    text-align: center;
    bottom: 47px;
    left: 50%;
    transform: translateX(-50%);
    /* width: 100%; */

}
#slider .text-heading{
    

}
#slider .text-description{
 font-size: 14px;
}
#content{
    margin-top: 40px;

}
#content .content-section{
width: 800px;
padding: 64px 0 112px;
margin-left: auto;
margin-right: auto;

}
#content .section-heading{
text-align: center;
font-size: 30px;
font-weight: 500;
letter-spacing: 4px;

}
#content .section-sub-heading{
    text-align: center;
font-size: 15px;
margin-top: 25px;
font-style: italic;
opacity: 0.6;

}
#content .about-text{
margin-top: 25px;
font-size: 15px;
text-align: justify;
line-height: 1.4;
}
#content .member-list{
    margin-top: 48px;
    /* overflow: hidden; */
}


#content .member-name {
    font-size: 15px;
    margin-top: 39px;

}
#content .member-img{
    width: 154px;
    margin-top: 15px;
    border-radius: 4px;

}
/* tour section */
.tour-section {
    background-color: #000000;
    padding: 40px 0;
}

.ticket-list{
    background-color: #ffffff;
    margin-top: 40px;
}
.ticket-list li{
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    
}
.ticket-list .sold-out {
    background-color: #ff0000;
    color: #ffffff;
    font-weight: 500;
    padding: 5px;
}
.ticket-list .quantity {
    float: right;
    width: 14px;
    height: 14px;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    margin-top: -3px;
    
}


.place-img{
    width: 100%;
    height: 220px;
    display: block;

}

.place-img:hover{
    opacity: 0.6;

}

.place-body{
    background-color: #ffffff;
    padding: 16px;
    font-size: 15px;


}
.place-heading{
    font-size: 15px;
    font-weight: 600;


}
.place-time{
    margin-top: 15px;
    color: #757575;
    line-height: 1.4;

}
.place-desc{
margin-top: 15PX;

}



.modal {
    position: fixed;
    top: 0;
left: 0;
right: 0;
bottom: 0;
background: rgba(0, 0, 0, 0.4);
align-items: center;
justify-content: center;
display: none;

}

.modal-container{
    background: #f9f5f5;
    width: 900px;
    max-width:calc(100% - 32px);
    min-height:200px ;
    position: relative;
    animation: modalFaceIn 0.3s ease-in-out;
}

.modal-header{
    background-color: #298623;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #ffffff;
    
}
.modal-close{
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 8px ;
    color: #ffffff;
    cursor: pointer;
    opacity: 0.8;

}.modal-close:hover{
 color: rgba(240, 6, 6, 0.5);
    opacity: 1;
}
.modal-body{
    padding: 20px;
}
.modal-label{
    display: block;
    font-size: 15px;
    margin-bottom: 10px;
    
}
.modal-input{
    width:100% ;
    padding: 10px;
    font-size: 15px;
    border: 1px solid #000;
    margin-bottom: 24px;
}

#buy-ticket{
    padding: 14px 0;
    width: 100%;
    color: #ffffff;
    background-color: #298623;
    text-transform: uppercase;
    cursor: pointer;

}
#buy-ticket:hover{
   opacity: 0.9;
    background-color: #0c0e0c;

}
.modal-foodter {
 
    text-align: right;
    padding: 10px 20px;
    color: #3dacdf;
}
.modal.open {
    display: flex;
}


.map-section img{
    width: 100%;
   margin-top: 40px;
   display: block;

}
#foodter {
    padding: 64PX 16px;
   text-align: center;
}

#foodter .socials-list{
    font-size: 15px;
    color: #000000;
    margin-top: 16px;

}
#foodter .socials-list a{
    color: #000000;
    text-decoration: none;
    margin: 0 8px;
}

#foodter .socials-list a:hover,
#foodter .copyright a
{
 
    color: rgba(0, 0, 0, 0.4);
}
#foodter .copyright{
    margin-top: 16px;
   color: rgba(0, 0, 0, 0.6);

}
#foodter .copyright a{
   color: rgba(0, 0, 0, 0.6);
  
}

/* contact form */

.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
    line-height: 1.5;
  
}
.contact-form{
    font-size: 15px;
}
.contact-form .form-control{
   padding: 4px;
   border: 1px solid #ccc;
   width: 100%;
}

.about-text{

}




@keyframes modalFaceIn {
  from{
    opacity: 0;
    transform: translateY(-100px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
    
}